*{
    margin: 0;
    padding: 0;
    background-color: black;
    font-family: 'Courier New', Courier;
    color: whitesmoke;
}

.container{
    width: 95%;
    margin: auto;
    
}

a{
    text-decoration: none;
    font-style: bold;
}

a:hover{
    color: whitesmoke;
    background-color: black;
    padding: 0.4em 0.4em;
    margin: 1em;
    border-radius: 0.6em;
    font-weight: 800;
}
#title {
        font-family: Garamond;
        text-align: center;
        margin: 1em 1em;
        padding: 1em 1em;
        border: 0.1em solid whitesmoke;
        border-radius: 0.6em;
        letter-spacing: 0.4em;
        word-spacing: 0.5em;
}

#members {
    text-align: right;
    margin: 1em 1em;
    padding: 1em 0.5em;
    border: 0.05em dashed whitesmoke;
    border-radius: 0.6em;
}
.navbar ul{
    text-align: center;
    text-decoration: none;
    list-style: none;
}
.navbar li{
    display: inline;
    padding: 0.4em 0.4em;
    margin: 1em;
    border: 0.05em solid whitesmoke;
    border-radius: 0.6em;
}

#msg{
    margin: 1em 1em;
    padding: 1em 1em;
    font-family:Courier, monospace;
    text-align: center;
    font-size: large;
}

.block{
    padding: 1em;
    box-sizing: border-box;
}
